.modal {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    background: rgba(31, 35, 78, 0.6);
    width: 280px;

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .groupForm {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 3px;
            margin-left: 10px;
            font-size: small;
        }
    }

    .secondBloc {
        margin-bottom: 20px;
        display: flex;
        gap: 20px;

        p {
            margin: 5px 0;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .clorPickerButton {
            height: 17px;
            width: 50px;
            border-radius: 5px;
            border: 3px solid;
            border-color: var(--white);
            box-shadow: inset 0 0 0 1px black;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .form {
        gap: 10px
    }

    .updateButton {
        width: fit-content;
        align-self: center;
    }
}