.navbar {
    justify-content: space-between;
    background-color: rgb(198, 197, 201) ;
    padding: 2px 13px !important;

    .iconButton {
        padding: 0;
        display: none;

        svg {
            display: flex;
            font-size: 32px
        }
    }
}

@media (max-width: 600px) {
    .navbar {
        .buttonNav {
            display: none;
        }

        .iconButton {
            display: block;
        }
    }
    
}

@media (max-width: 330px) {
    .navbar {
        .avatar {
            display: none;
        }
    }
}