.navbar {
    justify-content: space-between;

    .profil {
        background-color: #1c19d2;
    }

    .decks {
        background-color: #1c19d2;
    }

    .games {
        background-color: #1c19d2;
    }

    .iconButton {
        padding: 0 10px;
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar {
        .buttonNav {
            display: none;
        }

        .iconButton {
            display: block;
        }
    }
    
}