.navbar {
    justify-content: space-between;
    background-color: rgb(198, 197, 201) ;
    padding: 2px 13px !important;

    .iconButton {
        padding: 0 10px;
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar {
        .buttonNav {
            display: none;
        }

        .iconButton {
            display: block;
        }
    }
    
}