.addGames {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;

    button {
        min-width: 181px;
        margin-right: 15px;
    }
}

.drawer {
    width: 100%;
}