.addGames {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;

    .add {
        height: 20px;
        width: 20px;
        justify-content: center;
        align-self: center;
        padding: 0;

        span {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center
        }

        &:hover {
            cursor: pointer;
            background-color: var(--primary);

            span {
                color: var(--secondary);
            }
        }
    }
}