.addGames {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;

    .add {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        padding: 0;
        align-self: end;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--primary);

            .addIcon {
                background-color: var(--secondary);
            }
        }

        .addIcon {
            mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 20px;
            width: 20px;
            background-color: var(--primary);
            --svg: url("../../../../../public/assets/add.svg");
            margin: auto;
        }
    }
}