.addGames {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;

    .add {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: none;
        padding: 0;
        align-self: end;
        margin-bottom: 5px;
        margin-right: 8px;

        &:hover {
            cursor: pointer;
            background-color: var(--primary);

            span {
                color: var(--secondary) ;
            }
        }
    }
}