.MenuItem {
    .span {
        margin-left: 5px;
        font-size: small;
        font-style: italic;
    }

    &:hover {
        span {
            color: #ffff
        }
    }
}

.owner {
    background-color: var(--primary) !important;
    opacity: 0.8;

        .name {
            color: var(--secondary);
        
            &:hover {
                color: var(--secondary) !important
            }
    }
}