.noData {
    height: 80vh;
    text-align: center;
    display: flex;
    
    h1 {
        margin: auto;
    }
}

.tableau {
    margin-top: 10px;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .styckyCol {
            left: 0;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}

.selectRank {
    display: flex;
    gap: 5px;
    align-items: center;

    > div {
        height: 30px;
    }
}