.tableau {
    margin-top: 10px;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .arrow {
        cursor: pointer;
    }

    .arrowDisabled {
        filter: brightness(0.6);

        &:hover {
            filter: brightness(1);
            cursor: pointer;
        }
    }

    svg {
        font-size: 1.2rem;
    }

    .styckyCol {
        left: 0;
        position: sticky;
        z-index: 50;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody tr > th  {
        backdrop-filter: blur(7px);
    }

    .actions {
        display: flex;
        gap: 3px;
        justify-content: center;
    }

    .delete {
        color: var(--error);

        &:hover {
            color: rgba(250, 5, 5, 0.8);
            border: none
        }
    }

    .edit {
        color: rgb(19, 190, 182);

        &:hover {
            color: var(--tertiary);
            border: none
        }

        
    }

    .red {
        color: var(--error)
    }

    .green {
        color: var(--success)
    }
        

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 600;
        color: var(--white);
    }

    .A {
        background-color: rgb(192, 0, 0, 0.7);
    }

    .B {
        background-color: rgba(255, 192, 0, 0.7);
    }

    .C {
        background-color: rgba(255, 255, 0, 0.7);
    }

    .D {
        background-color: rgba(0, 255, 0, 0.7);
    }

    .E {
        background-color: rgba(5, 163, 76, 0.7);
    }

    .RIP {
        background-color: rgba(34, 30, 30, 0.8);
    }
}