.tableau {
    margin-top: 20px;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;

    svg {
            font-size: 1.2rem;
        }

    .styckyCol {
        left: 0;
        position: sticky;
    }

    tbody tr:nth-child(odd) > th {
        background-color: rgba(31, 35, 78, 0.7);
        backdrop-filter: blur(7px);
    }

    tbody tr:nth-child(even) > th {
        background-color: rgba(31, 35, 78, 0.7);
        backdrop-filter: blur(7px);
    }

    .actions {
        display: flex;
        gap: 3px;
        justify-content: center;
    }

    .delete {
        color: var(--error);

        &:hover {
            color: rgba(250, 5, 5, 0.8);
            border: none
        }
    }

    .edit {
        color: rgb(19, 190, 182);

        &:hover {
            color: var(--tertiary);
            border: none
        }

        
    }

    .red {
        color: var(--error)
    }

    .green {
        color: var(--success)
    }
        

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 600;
    }

    .A {
        background-color: rgb(192, 0, 0, 0.4);
        color: var(--white);
    }

    .B {
        background-color: rgba(255, 192, 0, 0.4);
        color: var(--background);
    }

    .C {
        background-color: rgba(255, 255, 0, 0.6);
        color: var(--background);
    }

    .D {
        background-color: rgba(0, 255, 0, 0.4);
        color: var(--background);
    }

    .E {
        background-color: rgba(5, 163, 76, 0.4);
        color: var(--white);
    }
}