.tableau {
    margin-top: 20px;

    .red {
        color: red
    }

    .green {
        color: green
    }
        

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 600;
        border: 1px solid white !important;
    }

    .Z {
        background-color: #000;
        color: white;
    }

    .S {
        background-color: #c00000;
        color: white;
    }

    .A {
        background-color: #ffc000;
    }

    .B {
        background-color: #ffff00;
    }

    .C {
        background-color: #00ff00;
    }

    .D {
        background-color: #00b050;
        color: white;
    }
}