.tableau {
    margin-top: 20px;
    overflow: auto;
    height: 100%;

    .styckyCol {
        left: 0;
        position: sticky;
        z-index: 11;
    }

    .styckyRow {
        top: 0;
        position: sticky;
        z-index: 10;
    }

    .styckyFirstCell {
        top: 0;
        left: 0;
        position: sticky;
        z-index: 15;
    }

    tbody tr:nth-child(odd) > th {
        background-color: rgb(43, 42, 42);
    }

    tbody tr:nth-child(even) > th {
        background-color: rgb(29, 29, 29);
    }


    .actions {
        display: flex;
        gap: 3px;
        justify-content: center;
    }

    .delete {
        color: #FF0033 !important;

        svg {
            font-size: 1.3rem;
        }
    }

    .edit {
        color: #1976d2 !important;

        svg {
            font-size: 1.3rem;
        }
    }

    .red {
        color: #FF0033 !important
    }

    .green {
        color: #00ff00 !important
    }
        

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 600;
        border: 1px solid white !important;
    }

    .A {
        background-color: #c00000;
        color: white;
    }

    .B {
        background-color: #ffc000;
        color: rgb(29, 29, 29) !important;
    }

    .C {
        background-color: #ffff00;
        color: rgb(29, 29, 29) !important;
    }

    .D {
        background-color: #00ff00;
        color: rgb(29, 29, 29) !important;
    }

    .E {
        background-color: #00b050;
        color: white;
    }
}