.history {
    margin-top: 30px;
}

.imageModal {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 0 5px;
}