.container {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 20px;
    position: absolute;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    background: var(--secondaryOpacity);

    .bloc {
        display: flex;
        gap: 20px;

        .stateInput {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .disabled {
            cursor: default;
            background-color: grey;
            color: var(--white);
            border: none;
        }
    }
}