
.close {
    position: absolute;
    margin: 10px;
    right: 0px;
    z-index: 1000;
}

.lifeContainer {
    z-index: 100;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    .displayLife {
            filter: grayscale(70%);

            button:hover {
                border: 1px solid var(--primary);
                background-color: var(--secondary);
                border-radius: 10px;
                color: var(--primary);
            }
        }

    .life {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        justify-content: center;

        button {
            padding: 0;
            height: 20px;
            width: 20px;
        }

        span {
            color: var(--white);
            text-shadow: 1px 1px black;

            &.deadLife {
                color: var(--error)
            }

            &.winnerLife {
                color: var(--success)
            }
        }
    }
}

.img {
    height: 100%;
    width: 100%;
    filter: opacity(0.5);
    position: absolute;
    z-index: 1;

    &.dead {
        filter: grayscale(90%) opacity(0.3);
    }

    &.winner {
        filter: opacity(1) contrast(100%);
    }
}



.title {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 10px;
    line-height: 0.8;

    p {
        color: var(--white);
        text-shadow: 1px 1px black;
        margin: 0;
    }

    span {
        margin-top: 0;
        text-shadow: 1px 1px black;
        font-size: medium;
    }
    
}

.imgContainer {
    border: 1px solid var(--primary);
    display: flex;
    font-size: 1.5rem;
    overflow: hidden;
    position: relative;
    min-height: 49vh;
    min-width: 49vw;
}