.close {
    position: absolute;
    margin: 5px;
    top: 5px;
    left: 5px;
    z-index: 1000;
    padding: 5px 9px;
}

.shiedlIcon {
    animation: pulseOpacity 0.8s ease-in-out infinite alternate;
}

.commanderButton {
    position: absolute;
    z-index: 5000;
    top: 47vh;
    width: 100%;
    text-align: center;
    
    svg {
        opacity: 1;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
    
}

.settingsButton {
    position: absolute;
    margin: 10px;
    right: 5px;
    top: 40px;
    z-index: 1000;

    mask: var(--svg) no-repeat center;
    mask-size: contain;
    height: 20px;
    width: 20px;
    background-color: var(--primary);
    --svg: url("/assets/settings.svg");
    margin-left: auto;

    &:hover {
        background-color: var(--primary);
        opacity: 0.6;
    }
}

.settings {
    position: fixed;
    z-index: 1000;
    background-color: var(--background);
    backdrop-filter: blur(1px);
    padding: 0 10px;
    border: 1px solid var(--primary);
    border-radius: 15px;
    gap: 10px;

    p {
        width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
    }

    > div {
        width: fit-content;
    }

    .playerIndex {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.imgContainer {
    border: 1px solid var(--primary);
    display: flex;
    font-size: 1.5rem;
    overflow: hidden;
    position: relative;
    min-height: 47.5vh;
    border-radius: 15px;
    margin: 2px;

    &.responsiveCard {
        min-width: 47.5vw;
    }

    &.rotate {
        rotate: 180deg;
    }

    .draggableButton {
        position: absolute;
        z-index: 100000;
        color: var(--white);
        bottom: 0;
        margin-left: 10px;
        margin: 5px;
        left: 0
    }

    .draggableButton:hover {
        cursor: grab;
    }

    &.deadthContainer {
        filter: grayscale(90%);
    }

    .lifeButtonPlus {
        right: 0;
    }

    .lifeButtonLess, .lifeButtonPlus {
        width: 50%;
        position: absolute;
        height: 100%;
        z-index: 2;
        border: none;
        background: transparent;
        font-size: 35px;
        border-radius: 0;
        color: var(--white);
        text-shadow: 2px 2px black;

        &:hover {
            border: none;
            background: transparent;
            color: var(--primary);
            cursor: default;
        }
    }

    .hitedButton {
        animation: hurt 0.3s ease;
    }

    .healedButton {
        animation: healing 0.3s ease-in-out;
    }

    .img {
        height: 100%;
        width: 100%;
        filter: opacity(0.7);
        position: absolute;
        z-index: 1;
        background-color: var(--background);

        &.almostDead {
            animation: heartbeat 1.4s infinite;
        }

        &.dead {
            filter: grayscale(90%) opacity(0.3);
        }

        &.winner {
            filter: opacity(1) contrast(100%);
        }
    }

    .title {
        position: absolute;
        z-index: 1;
        text-align: center;
        margin: 15px;
        line-height: 0.8;
        text-shadow: 2px 2px black;

        p {
            color: var(--white);
            margin: 0;
        }

        span {
            margin-top: 0;
            font-size: medium;
        }
    }

    .lifeContainer {
        z-index: 1;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;

        .displayLife {
            filter: grayscale(70%);

            button:hover {
                border: 1px solid var(--primary);
                background-color: var(--secondary);
                border-radius: 10px;
                color: var(--primary);
            }
        }

        .lifeChange {
                opacity: 1;
                transition: opacity 0.3s ease;
                position: absolute;
                top: 56%;
                width: 100%;
                text-align: center;
                font-size: medium;
            }

            .fadeOut {
                opacity: 0;
            }

        .life {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0;
            justify-content: center;
            text-shadow: 2px 2px black;

            

            span {
                color: var(--white);

                &.deadLife {
                    color: var(--error)
                }

                &.winnerLife {
                    color: var(--success)
                }
            }
        }
    }
}

@keyframes heartbeat {
    0% {transform: scale(1); }
    10% {transform: scale(1.1); }
    25% {transform: scale(0.98); }
    30% {transform: scale(1.04); }
    45% {transform: scale(0.995); }
    100% {transform: scale(1); }
}


@keyframes hurt {
    0% {
        background-color: rgba(255, 0, 0, 0.2);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes healing {
    0% {
        background-color: rgba(0, 255, 85, 0.0);
        box-shadow: 0 0 0px rgba(0, 255, 85, 0.0);
    }
    40% {
        background-color: rgba(0, 255, 85, 0.15);
        box-shadow: 0 0 12px rgba(0, 255, 85, 0.3);
    }
    60% {
        background-color: rgba(0, 255, 85, 0.25);
        box-shadow: 0 0 16px rgba(0, 255, 85, 0.5);
    }
    100% {
        background-color: transparent;
        box-shadow: none;
    }
}

@keyframes pulseOpacity {
    from { opacity: 1; }
    to   { opacity: 0.3; }
}