@font-face {
    font-family: "Akshar";
    src: url("./fonts/Akshar/Akshar-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Akshar";
    src: url("./fonts/Akshar/Akshar-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Akshar";
    src: url("./fonts/Akshar/Akshar-Bold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Akshar";
    src: url("./fonts/Akshar/Akshar-SemiBold.ttf") format("truetype");
    font-weight: 700;
}