@font-face {
    font-family: "Akshar";
    src: url("../../public//assets/fonts/Akshar/Akshar-Regular.woff2") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Akshar";
    src: url("../../public//assets/fonts/Akshar/Akshar-Medium.woff2") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Akshar";
    src: url("../../public//assets/fonts/Akshar/Akshar-Bold.woff2") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Akshar";
    src: url("../../public//assets/fonts/Akshar/Akshar-SemiBold.woff2") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Akshar";
    src: url("../../public//assets/fonts/Akshar/Akshar-Light.woff2") format("truetype");
    font-weight: 300;
}