.secondBloc {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;

    > div {
        flex: 1
    }
}

.separator {
    height: 1px;
    background: var(--primary);
    width: 50%;
    margin-top: 10px;
}