.tableau {
    .green {
        background-color: #dbf7d8 !important;

        th, td {
            color: rgb(29, 29, 29) !important;
            border-bottom: 1px solid white;
        }
    }

    .red {
        background-color: #f7dbd6 !important;

        th, td {
            color: rgb(29, 29, 29) !important;
            border-bottom: 1px solid white;
        }
    }

    .infosDecks {
        margin: auto;
        justify-content: center;
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

.pagination {
    button, div {
        color: white;
        margin-bottom: 10px;
    }

    button:hover {
        color: rgb(29, 29, 29);
        background-color: white !important;
    }

    button[aria-current] {
        color: rgb(29, 29, 29);
        background-color: white !important;
    }
}