.gamesArray {
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 10px;

    .green {
        background-color: rgba(33, 252, 66, 0.2);
    }

    .red {
        background-color: rgba(250, 5, 5, 0.2);
    }

    svg {
        font-size: 1.2rem;
    }

    .actions {
        display: flex;
        gap: 3px;
        justify-content: center;
    }

    .delete {
        color: var(--error);

        &:hover {
            color: rgba(250, 5, 5, 0.8);
            border: none
        }
    }

    .gameInfos {
        display: flex;
        justify-content: center;

        svg {
            color: var(--primary);

            &:hover {
                cursor: help;
                color: var(--primary);
                opacity: 0.6;
            }
        }
    }
}

.pagination {
    button, div {
        color: var(--primary);
    }

    button:hover, button[aria-current] {
        color: var(--background);
        background-color: var(--primary);
    }
}