.blockFilters {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    label {
        margin-bottom: 5px;
        color: var(--primary);
        font-size: small;
    }

    .select {
        height: 40px;
        min-width: 90px;
    }
    
    .datePickers {
        display: flex;
        gap: 10px;
        width: 500px;

        .datePicker {
            background-color: var(--tertiaryOpacity);
            color: var(--white);
            border-radius: 10px;
            border: none;
            height: 40px;
            max-width: 250px;
            
            div {
                font-family: "Akshar", sans-serif;
                letter-spacing: 0.3px;
                font-size: medium;
                max-height: 100%;
                width: auto;

                span {
                    font-family: "Akshar", sans-serif;
                    letter-spacing: 0.3px;
                    font-size: medium;
                    color: var(--white);
                }
            }

            button {
                color: var(--primary);

                svg {
                    font-size: 1.3rem;
                }

                &:hover {
                    color: var(--primary);
                    opacity: 0.6;
                    border: none;
                    background-color: var(--tertiaryRow);
                }
            }

            input {
                color: var(--white);
                border: none;
                padding: 0;
                border-radius: 10px;
                font-size: medium;
            }

            fieldset {
                border: none;
                font-family: "Akshar", sans-serif;
                letter-spacing: 0.3px;
            }
        }
    }

    .filtres {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 500px;
    }

    .filtre,.filtreWinner {
        display: flex;
        flex-direction: column;
    }

    .filtreWinner {
        flex: 2
    }

    .filtre {
        flex: 1
    }

    .clearButton {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        padding: 0;
        align-self: end;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--primary);

            .clearButtonIcon {
                background-color: var(--secondary);
            }
        }

        .clearButtonIcon {
            mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 20px;
            width: 20px;
            background-color: var(--primary);
            --svg: url("/assets/clean.svg");
            margin: auto;
        }
    }
}