.blockFilters {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    label {
        margin-bottom: 5px;
        color: var(--primary);
        font-size: small;
    }

    .select {
        min-width: 150px;
        height: 40px;
    }
    
    .datePickers {
        display: flex;
        gap: 20px;

        .datePicker {
            background-color: rgba(47, 51, 107, 0.7);
            color: var(--white);
            border-radius: 10px;
            border: none;
            backdrop-filter: blur(7px);
            height: 40px;

            > div {
                padding: 5px 10px;
                font-family: "Akshar", sans-serif;
                letter-spacing: 0.3px;

                button {
                    color: var(--primary);

                    svg {
                        font-size: 1.3rem;
                    }

                    &:hover {
                        color: rgba(39, 233, 255, 0.6);
                        border: none
                    }
                }

                input {
                    color: var(--white);
                    border: none;
                    padding: 0;
                    border-radius: 10px;
                    font-size: medium;
                }

                fieldset {
                    border: none;
                    font-family: "Akshar", sans-serif;
                    letter-spacing: 0.3px;
                }
            }
        }
    }

    .filtres {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 500px;
    }

    .filtre {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .clearButton {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        padding: 0;
        align-self: end;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--primary);

            .clearButtonIcon {
                background-color: var(--secondary);
            }
        }

        .clearButtonIcon {
            mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 20px;
            width: 20px;
            background-color: var(--primary);
            --svg: url("/assets/clean.svg");
            margin: auto;
        }
    }
}