.navbar {
    display: flex;
    background-color: var(--secondary);
    padding: 0;
    height: 50px;

    button {
        background-color: var(--secondary);
        flex: 1;
        height: 100%;
        padding: 10px;
        border: none;
        border-radius: 0;

        &:hover, &.isActive {
            background-color: var(--primary);
            border: none;

            .icon {
                background-color: var(--secondary);
            }
        }
    }

    .icon {
        mask: var(--svg) no-repeat center;
        mask-size: contain;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
    }

    .icon-active {
        background-color: var(--secondary);
    }

    .profil {
        --svg: url("/assets/Profil.svg");
    }

    .decks {
        --svg: url("/assets/Decks.svg");
    }

    .games {
        --svg: url("/assets/Parties.svg");
    }

    .joueurs {
        --svg: url("/assets/Joueurs.svg");
    }

    .matchmaking {
        --svg: url("/assets/Matchmaking.svg");
    }
}