.actionMatch {
    position: absolute;
    margin: 5px;
    top: 5px;
    left: 5px;
    z-index: 1000;
    display: flex;
    gap: 5px;
    
    .close {
        padding: 5px 10px;
    }

    .historical {
        opacity: 1;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}


.historicalModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 5px;
    top: 40px;
    left: 5px;
    z-index: 1000;
    padding: 10px 0 10px 10px;
    background-color: var(--secondaryOpacity);
    max-height: 300px;
    border-radius: 10px;

    > div {
        overflow: auto;
        padding-right: 10px;

        span {
            color: var(--white);
        }
    }
}