.blockFilters {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .select {
        min-width: 90px;
    }
    
    .datePickers {
        display: flex;
        gap: 10px;
        width: 500px;
    }

    .filtres {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 500px;
    }

    .filtre,.filtreWinner {
        display: flex;
        flex-direction: column;
    }

    .filtreWinner {
        flex: 2
    }

    .filtre {
        flex: 1
    }

    .clearButton {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        padding: 0;
        align-self: end;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--primary);

            .clearButtonIcon {
                background-color: var(--secondary);
            }
        }

        .clearButtonIcon {
            mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 20px;
            width: 20px;
            background-color: var(--primary);
            --svg: url("/assets/clean.svg");
            margin: auto;
        }
    }
}