

.modal {
    width: 70%;
    border-radius: 15px;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1px);
    background: var(--secondaryOpacity);

    .close {
        height: 20px;
        width: 20px;
        justify-content: center;
        align-self: center;
        padding: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        gap: 10px;

        .look {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: none;
            padding: 0;
            align-self: center;

            &:hover {
                cursor: pointer;
                background: none;

                .lookIcon {
                    background-color: var(--primary);
                    opacity: 0.7;
                }
            }

            .lookIcon {
                mask: var(--svg) no-repeat center;
                mask-size: contain;
                height: 100%;
                width: 100%;
                background-color: var(--primary);
                --svg: url("/assets/eye.svg");
            }
        }
    }

    .search {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: none;
        padding: 0;
        align-self: center;

        &:hover {
            cursor: pointer;
            background: none;

            .addIcon {
                background-color: var(--primary);
                opacity: 0.7;
            }
        }

        .searchIcon {
            mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 100%;
            width: 100%;
            background-color: var(--primary);
            --svg: url("/assets/search.svg");
        }
    }

    

    .formBloc {
        display: flex;
        gap: 10px;
        width: 100%;
        align-items: center;

        .radioButton {
            svg, span { 
                color: var(--white);
                font-family: "Akshar", sans-serif;
            }
        }

        .choices {
            flex-direction: row;
        }
    }

    .updateButton {
        width: fit-content;
        align-self: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: auto;
        max-height: 100%;

        .formControl {
            width: 100%;
        }

        .formCouleurs {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .couleursBloc {
                display: flex;
                gap: 10px;

                .checked {
                    filter: brightness(1);
                }

                button {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    border: none;
                    filter: brightness(0.3);

                    &:hover {
                        border: none;
                    }
                }
            }
        }

        .paperIllustration {
            padding: 2px 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            width: auto;
            position: relative;
            z-index: 2;
        }

        .illustrationBox {
            position: absolute;
            top: 100%; // juste sous le Paper
            left: 0;
            width: fit-content;
            z-index: 10; // sous le Paper
            margin-top: 10px;

            .imageListItem {
                display: flex;
                gap: 10px; 
                overflow: auto;
                border-radius: 5px
            }
        }

        .illustrationShow {
            position: absolute;
            width: fit-content;
            z-index: 10;
        }
    }
}

@media (max-width: 650px) {

    .formBloc {
        flex-direction: column;
        width: 100%;
    }

    .modal {
        padding: 20px;
        width: 80%;
    }

    .formControl {
        width: 100%;
    }
}