.drawer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 420px;

    h3 {
        margin-bottom: 0px;
    }

    .firstBloc {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        > div {
            width: 200px;
        }
    }

    .addIcon {
        height: 30px;
        width: 30px;
        align-self: start;
        background-color: #39bd2f;
        color: white;
    }

    .hasPlayer {
        margin-top: -20px;
    }

    .addIcon[disabled] {
        background-color: #dcdee3;
    }

    .submit {
        margin-bottom: 20px;
    }
} 

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: grey;

    h2 {
        color: white;
        margin: 0
    }
}

.datePickerForm {
    height: 40px;

    > div {
        height: 100%;

        label[data-shrink=false] {
            -webkit-transform: translate(14px, 9px) scale(1);
            transform: translate(14px, 9px) scale(1)
        }

        > div {
            height: 100%;
        }
    }
}

@media (max-width: 600px) {
    .drawer {
        padding: 0;

        .addIcon {
            margin-left: 15px;
        }
        
        .firstBloc {
            > div {
                width: 350px;
            }
        }
    }
    
}
