.snackbar {
    width: 100%;
    justify-content: center !important;
    color: var(--white) !important;
    border-radius: 10px !important;
}

.success {
    background-color: var(--success) !important;
}

.info {
    background-color: rgb(1, 91, 194) !important;
}

.error {
    background-color: var(--error) !important;
}

.message {
    display: flex;
    align-items: center;
    gap: 12px;
    user-select: none;
    

    span {
        color: var(--white) !important;
        font-size: medium;
        font-family: "Akshar", sans-serif;
        font-weight: 600;
    }

    > div {
        display: flex;
    }
}