.secondBloc {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;

    > div {
        flex: 1
    }
}

.MenuItem {
    .span {
        margin-left: 5px;
        font-size: x-small;
        font-style: italic;
    }

    &:hover {
        span {
            color: #ffff
        }
    }
}

.separator {
    height: 1px;
    background: var(--primary);
    width: 50%;
}

.owner {
    background-color: rgba(255, 255, 255, 0.3) !important;
}