.secondBloc {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;

    > div {
        flex: 1
    }
}

.span {
    margin-left: 5px;
    font-size: x-small;
    font-style: italic;
}

.separator {
    height: 1px;
    background: var(--primary);
    width: 50%;
}

.owner {
    background-color: rgba(0, 128, 0, 0.6) !important;
}