.lifeContainer {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    .displayLife {
        filter: grayscale(70%);

        button:hover {
            border: 1px solid var(--primary);
            background-color: var(--secondary);
            border-radius: 10px;
            color: var(--primary);
        }
    }

    .lifeChange {
        opacity: 1;
        transition: opacity 0.3s ease;
        position: absolute;
        top: 56%;
        width: 100%;
        text-align: center;
        font-size: medium;
    }

        .fadeOut {
            opacity: 0;
        }

    .life {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        justify-content: center;
        text-shadow: 2px 2px black;

        

        span {
            color: var(--white);

            &.deadLife {
                color: var(--error)
            }

            &.winnerLife {
                color: var(--success)
            }
        }
    }
}