.tableau {
    min-width: 900px;

    .green {
        background-color: #dbf7d8 !important;

        th, td {
            color: rgb(29, 29, 29) !important
        }
    }

    .red {
        background-color: #f7dbd6 !important;

        th, td {
            color: rgb(29, 29, 29) !important
        }
    }

    .infosDecks {
        margin: auto;
        text-align: start;
        display: flex;
        gap: 5px;
    }
}