.secondBloc {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    > div {
        width: 200px;
    }
}

.green {
    background-color: #dbf7d8 !important;
}

@media (max-width: 600px) {
    .secondBloc {
        > div {
            width: 350px;
        }
    }
}