

.add {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    padding: 0;
    align-self: end;
    margin-bottom: 5px;
    margin-right: 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--primary);

        span {
            color: var(--secondary) ;
        }
    }
}

.headerBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.highlights {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
    color: var(--white);

    svg {
        margin-right: 15px;
        color: var(--primary)
    }
}