

.add {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-self: center;
    padding: 0;

    &:hover {
        cursor: pointer;
        background-color: var(--primary);

        span {
            color: var(--secondary);
        }
    }
}

.headerBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.highlights {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
    color: var(--white);

    svg {
        margin-right: 15px;
        color: var(--primary)
    }
}