.addDeck {
    margin: 20px 0;
    margin-right: 30px;
    max-height: fit-content;
}

.headerBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.highlights {
    display: flex;
    align-items: center;
}