.modal {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondaryOpacity);
    width: 80%;
    max-width: 750px;
    max-height: 80%;

    .arrow {
        cursor: pointer;
    }

    .arrowDisabled {
        filter: brightness(0.6);

        &:hover {
            filter: brightness(1);
            cursor: pointer;
        }
    }

    div:first-child {
        border-radius: 15px;
    }

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 800;
        color: var(--white);
        text-shadow: 1px 1px black;
    }

    .A {
        color: rgb(255, 0, 200);
    }

    .B {
        color: rgb(255, 0, 0);
    }

    .C {
        color: rgb(255, 153, 0);
    }

    .D {
        color: rgb(238, 255, 0);
    }

    .E {
        color: rgb(0, 255, 128);
    }

    tbody tr:nth-of-type(odd) .styckyCol {
        background-color: var(--secondaryRow);
        backdrop-filter: blur(1px);
    }

    tbody tr:nth-of-type(even) .styckyCol {
        background-color: var(--tertiaryRow);
        backdrop-filter: blur(1px);
    }

    .tableau {
        overflow: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
        
        svg {
            font-size: 1.2rem;
        }

        .styckyCol {
            left: 0;
            position: sticky;
            z-index: 50;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width: 650px) {
    .modal {
        width: 90%;
        max-height: 70%;
    }
    
}