.modal {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondaryOpacity);
    width: 80%;
    max-width: 750px;
    max-height: 80%;

    .arrow {
        cursor: pointer;
    }

    .arrowDisabled {
        filter: brightness(0.6);

        &:hover {
            filter: brightness(1);
            cursor: pointer;
        }
    }

    div:first-child {
        border-radius: 15px;
    }

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 700;
        color: var(--white);
    }

    .A {
        background-color: rgb(192, 0, 0, 0.4);
    }

    .B {
        background-color: rgba(255, 192, 0, 0.4);
    }

    .C {
        background-color: rgba(255, 255, 0, 0.6);
    }

    .D {
        background-color: rgba(0, 255, 0, 0.4);
    }

    .E {
        background-color: rgba(5, 163, 76, 0.4);
    }

    .RIP {
        background-color: rgba(34, 30, 30, 0.8);
    }

    tbody tr:nth-of-type(odd) .styckyCol {
        background-color: var(--secondary);
        opacity: 0.8;
    }

    tbody tr:nth-of-type(even) .styckyCol {
        background-color: var(--tertiary);
        opacity: 0.8;
    }

    .tableau {
        overflow: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
        
        svg {
            font-size: 1.2rem;
        }

        .styckyCol {
            left: 0;
            position: sticky;
            z-index: 50;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width: 650px) {
    .modal {
        width: 90%;
        max-height: 70%;
    }
    
}