.modal {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(31, 35, 78, 0.4);
    width: 80%;
    max-width: 750px;
    backdrop-filter: blur(5px);
    max-height: 80%;
    border: 1px solid #000;

    div:first-child {
        border-radius: 15px;
    }

    .img {
        display: inline-block;
        margin: 0 2px;
        line-height: 0.5;
    }

    .rank {
        font-weight: 700;
        color: var(--white);
    }

    .A {
        background-color: rgb(192, 0, 0, 0.4);
    }

    .B {
        background-color: rgba(255, 192, 0, 0.4);
    }

    .C {
        background-color: rgba(255, 255, 0, 0.6);
    }

    .D {
        background-color: rgba(0, 255, 0, 0.4);
    }

    .E {
        background-color: rgba(5, 163, 76, 0.4);
    }

    tbody tr:nth-of-type(odd) {
        background-color: rgba(47, 51, 107, 0.3);
    }

    tbody tr:nth-of-type(even) {
        background-color: rgba(47, 51, 107, 0.1);
    }

    .tableau {
        overflow: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
        
        svg {
            font-size: 1.2rem;
        }

        .styckyCol {
            left: 0;
            position: sticky;
            z-index: 50;
            background-color: rgba(6, 11, 63, 0.8);
        }
    }
}

@media (max-width: 650px) {
    .modal {
        width: 90%;
        max-height: 70%;
    }
    
}