.modal {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 10px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;

    .colorPicker {
        border-radius: 15px !important;
        width: 100% !important;

        & > div:nth-child(1) {
            border-radius: 15px 15px 0 0 !important;
            height: 220px;
            padding-bottom: 0 !important;
        }

        & > div:nth-child(2) {
            & > div:nth-child(1) {
                height: 16px  !important;
                align-items: center  !important;
                & > div:nth-child(1) {
                    & > div:nth-child(1) {
                        margin-top: 0  !important;
                        width: 18px !important;
                        height: 18px !important;
                        border-radius: 50% !important;
                    }
                }

                & > div:nth-child(2) {
                    height: 100% !important;
                    & > div:nth-child(1) {
                        height: 100% !important;

                        & > div:nth-child(1) {
                            & > div:nth-child(1) {
                                border-radius: 10px  !important;
                                & > div {
                                    & > div {
                                        transform: translate(-1px, -1px) !important;
                                        height: 17px !important;
                                        width: 11px !important;
                                    }
                                }
                            }
                        }
                    } 
                    & > div:nth-child(2) {
                        display: none !important;
                    }
                }
            }

            & > div:nth-child(2) {
                display: none !important;
            }

        }
    }
}