.modal {
    display: flex;
    gap: 10px;
    border-radius: 15px;
    align-items: center;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 212px;
    flex-wrap: wrap;
    background-color: var(--tertiaryOpacity);
    border: 1px solid var(--primary);
}