.verticallyCentered {
  display: flex;
  align-items: center;
  height: 100%;
}

.loader {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    transform: scale(0.8);
  }

  .loader1,
  .loader2,
  .loader3,
  .loader4,
  .loader5 {
    border: 6px solid transparent;
    background-clip: padding-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: dashed;
    border-top-color: #272729;
    aspect-ratio: 1;
  }

  .loader1 {
    height: calc(100% - 30px);
    border-left-color: #f0ebc5;
    border-right-color: #005ca9;
  }

  .loader2 {
    height: calc(100% - 30px);
    border-left-color: #747471;
    border-right-color: #e30713;
  }

  .loader3 {
    height: calc(100% - 30px);
    border-left-color: #009d3c;
    border-right-color: #f0ebc5;
  }

  .loader4 {
    height: calc(100% - 30px);
    border-left-color: #005ca9;
    border-right-color: #747471;
  }

  .loader5 {
    height: calc(100% - 30px);
    border-left-color: #e30713;
    border-right-color: #009d3c;
  }

  .loader1 {
    animation: loading-first 6s linear infinite;

    .loader2 {
      animation: loading-second 4s linear infinite;

      .loader3 {
        animation: loading-third 2.5s linear infinite;

        .loader4 {
          animation: loading-fourth 2s linear infinite;

          .loader5 {
            animation: loading-fourth 3s linear infinite;
          }
        }
      }
    }
  }
}

@keyframes loading-first {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-second {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loading-third {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-fourth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loading-fifth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}