.verticallyCentered {
  display: flex;
  align-items: center;
  height: 100%;
}

.loader {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  filter: opacity(0.8);

  img {
    position: absolute; 
  }

  .mainImg {
    transform: scale(0.6);
  }

  .loader1,
  .loader2,
  .loader3,
  .loader4,
  .loader5 {
    border: 6px solid transparent;
    background-clip: padding-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
  }

  .loader1 {
    height: calc(120%);
    border-left-color: #27E9FF;
    border-top-color: #27E9FF;
    border-bottom-color: #27E9FF;
    animation: loading-first 6s linear infinite;
  }

  .loader2 {
    height: calc(100% - 40px);
    border-left-color: #F3F56C;
    border-top-color: #F3F56C;
    animation: loading-second 4s linear infinite;
  }

  .loader3 {
    height: calc(100% - 65px);
    border-left-color: #FA0505;
    border-top-color: #FA0505;
    animation: loading-third 2.5s linear infinite;
  }

  .loader4 {
    height: calc(100% - 190px);
    border-left-color: #05FA2A;
    border-top-color: #05FA2A;
    border-bottom-color: #05FA2A;
    animation: loading-fourth 2s linear infinite;
  }

  .loader5 {
    height: calc(100% - 35px);
    border-left-color: #888888;
    border-top-color: #888888;
    animation: loading-fifth 1s linear infinite;
  }
}

@keyframes loading-first {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-second {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loading-third {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-fourth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loading-fifth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}