.profil {
    max-width: 450px;
    margin: 20px 0;

    .headCard {
        display: flex;
        justify-content: space-between;
    }

    .casino {
        display: flex;
        justify-content: end;

        div {
            padding: 0;

            button {
                padding: 0;
            }
        }
    }

    > div:first-child {
        padding: 10px 16px;
    }

    .h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 5px 10px;
    }

    .red {
        color: #c00000 !important
    }

    .green {
        color: green !important
    }
}