.profil {
    max-width: 450px;
    margin: auto;
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    display: flex;

    h2 {
        margin: 0;
    }

    .summary {
        flex: 2;

        li {
            margin: 5px 0;
        }

        .red {
            color: var(--error)
        }

        .green {
            color: var(--success)
        }
    }

    .updateButton {
        mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 20px;
            width: 20px;
            background-color: var(--primary);
            --svg: url("../../../../public/assets/settings.svg");
            margin-left: auto;

            &:hover {
                background-color: var(--tertiary);
            }
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chooseRandomCard {
            height: 75px;
            width: 50px;
            margin: auto;
            margin-top: 20px;
            font-size: 30px;
            background-color: var(--tertiary);
            border-radius: 10px;

            &:hover {
                color: var(--tertiary);
                background-color: var(--primary);
            }
        }
    }


    

    
}