.profil {
    max-width: 450px;
    margin: auto;
    background-color: rgba(47, 51, 107, 0.7);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    padding: 15px;
    display: flex;

    h2 {
        margin: 0;
    }

    .summary {
        flex: 2;

        .liste {
            color: var(--white)
        }

        .lastLi {
            margin-bottom: 0;
        }

        ul {
            margin-bottom: 0;
        }

        li {
            margin: 5px 0;
        }

        .red {
            color: var(--error)
        }

        .green {
            color: var(--success)
        }
    }

    .updateButton {
        mask: var(--svg) no-repeat center;
        mask-size: contain;
        height: 20px;
        width: 20px;
        background-color: var(--primary);
        --svg: url("/assets/settings.svg");
        margin-left: auto;

        &:hover {
            background-color: var(--primary);
            opacity: 0.6;
        }
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chooseRandomCard {
            height: 75px;
            width: 50px;
            margin: auto;
            margin-bottom: 0;
            font-size: 30px;
            background-color: var(--secondary);
            border-radius: 10px;

            &:hover {
                color: var(--tertiary);
                background-color: var(--primary);
            }
        }
    }


    

    
}