.profil {
    max-width: 450px;
    margin: auto;
    background-color: rgba(47, 51, 107, 0.7);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    padding: 20px;
    display: flex;

    h2 {
        margin: 0;
    }

    .summary {
        flex: 2;

        ul {
            margin-bottom: 0;
        }

        li {
            margin: 5px 0;
        }

        .red {
            color: var(--error)
        }

        .green {
            color: var(--success)
        }
    }

    .updateButton {
        mask: var(--svg) no-repeat center;
            mask-size: contain;
            height: 20px;
            width: 20px;
            background-color: var(--primary);
            --svg: url("../../../../public/assets/settings.svg");
            margin-left: auto;

            &:hover {
                background-color: rgba(39, 233, 255, 0.7);
            }
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chooseRandomCard {
            height: 75px;
            width: 50px;
            margin: auto;
            margin-bottom: 10px;
            font-size: 30px;
            background-color: var(--secondary);
            border-radius: 10px;

            &:hover {
                color: var(--tertiary);
                background-color: var(--primary);
            }
        }
    }


    

    
}