.container {
    backdrop-filter: blur(5px);
    background: rgba(31, 35, 78, 0.6);
    padding: 15px;
    border-radius: 15px;
}

.formControl {
    flex: 1;
    min-width: 250px !important;
    max-width: 400px;
}

.listItem {
    &:hover {
        background-color: var(--primary);
    }
}

.isSelected {
    div span {
        color: var(--background) !important;
    }
    background-color: var(--primary) !important;

    &:hover {
        background-color: rgba(25, 118, 210, 0.12) !important;

        div span {
            color: var(--white) !important;
        }
    }
}

.checkBox {
    .checked {
        color: var(--primary) !important
    }

    span {
        color: var(--white);
    }
}