.container {
    backdrop-filter: blur(5px);
    background: var(--secondaryOpacity);
    padding: 15px;
    border-radius: 15px;
}

.formControl {
    flex: 1;
    min-width: 250px !important;
    max-width: 400px;
}

.listItem {
    &:hover {
        background-color: var(--primary);
    }
}

.isSelected {
    div span {
        color: var(--background) !important;
    }
    background-color: var(--primary) !important;
    opacity: 0.8;
}

.name:hover {
    b {
        font-weight: 500;
    }
}

.checkBox {
    .checked {
        color: var(--primary) !important
    }

    span {
        color: var(--white);
    }
}