.submit {
    width: fit-content;
    min-width: 175px;
    align-items: center;
    align-self: center;
}

.modal {
    text-align: center;
    width: 70%;
    border-radius: 15px;
    max-width: 450px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(31, 35, 78, 0.6);
    backdrop-filter: blur(5px);

    p {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 18px;
        color: var(--white);
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;

        .confirm {
            border: 1px solid var(--error);
            background-color: rgb(209, 21, 21, 0.3);
            border-radius: 10px;
            color: var(--error);
            border-radius: 50px;
            padding: 5px 10px;

            &:hover {
                cursor: pointer;
                border: 1px solid var(--secondary);
                background-color: var(--error);
                color: var(--secondary);
            }
        }
    }
}

@media (max-width: 650px)  {
    .modal {
        max-height: 575px;
    }
}