.tableau {
    margin-top: 20px;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .styckyCol {
        left: 0;
        position: sticky;
        z-index: 11;
    }

    .styckyRow {
        top: 0;
        position: sticky;
        z-index: 10;
    }

    .styckyFirstCell {
        top: 0;
        left: 0;
        position: sticky;
        z-index: 15;
    }

    tbody tr:nth-child(odd)  > th {
        background-color: rgb(43, 42, 42);
    }

    tbody tr:nth-child(even) > th {
        background-color: rgb(29, 29, 29);
    }

    .red {
        color: #FF0033 !important
    }

    .green {
        color: #00ff00 !important
    }

    .infosDecks {
        margin: auto;
        justify-content: center;
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

.highlights {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
}