.tableau {
    margin-top: 20px;

    .red {
        color: red
    }

    .green {
        color: green
    }
}

.highlights {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
}