.tableau {
    margin-top: 20px;

    .red {
        color: red
    }

    .green {
        color: green
    }

    .infosDecks {
        margin: auto;
        width: 50%;
        text-align: start;
    }
}

.highlights {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
}