.tableau {
    margin-top: 20px;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .arrow {
        cursor: pointer;
    }

    .arrowDisabled {
        filter: brightness(0.6);

        &:hover {
            filter: brightness(1);
            cursor: pointer;
        }
    }

    svg {
        font-size: 1.2rem;
    }

    .styckyCol {
        left: 0;
        position: sticky;
        z-index: 50;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody tr > th {
        backdrop-filter: blur(7px);
    }

    .red {
        color: var(--error)
    }

    .green {
        color: var(--success)
    }

    .infosDecks {
        margin: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 5px;

        button:hover {
            border: none
        }

        svg {
            color: var(--primary);

            &:hover {
                cursor: help;
                color: var(--primary);
                opacity: 0.6;
            }
        }
    }
}

.highlights {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
    color: var(--white);

    svg {
        margin-right: 15px;
        color: var(--primary)
    }
}