.container {
    backdrop-filter: blur(5px);
    background: rgba(31, 35, 78, 0.6);
    padding: 15px;
    border-radius: 15px;

    .userDeck {
            margin-left: 5px;
            font-size: smaller;
            font-style: italic;
        }

    .containerTeam {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}

