.modal {
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--primary);

    .containt {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    p {
        color: var(--secondary);
        margin: 0;
        margin-bottom: 10px;
    }
}